.fixed-foreground {
    z-index: 99;
    position: fixed;
}

.bottom {
    bottom: 3rem;
}

.left {
    left: 1rem;
}

.right {
    right: 1rem;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

#profile-picture {
    max-width: 350px;
}


.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    margin-left: 3rem;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
    margin-bottom: 1rem;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
    background-color: hsl(0, 0%, 90%);

    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.same-width-row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}