@import "./tailwind.css";

body {
  margin: 0;
  --discord-50: #f3f5ff;
  --discord-100: #e5e9ff;
  --discord-200: #c9cffb;
  --discord-300: #aeb5f3;
  --discord-400: #8f97ed;
  --discord-500: #5865f2;
  --discord-600: #4753d9;
  --discord-700: #3740b0;
  --discord-800: #2a327f;
  --discord-900: #1b2159;
  background-color: var(--discord-50);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
